body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
audio,
video,
blockquote {
	margin: 0;
	padding: 0;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
	display: block;
	/* IE 브라우저에서 지원되지 않는 시맨틱 태그, 블록 레벨 요소로 동작되지 않는 부분 대응 */
}