@charset "utf-8";

@import './common';

$layout-width: 1040px;
$header-height: 30px;

.header {
    text-align: center;

    &:after {
        display: block;
        clear: both;
        content: '';
    }

    &Inner {
        display: block;
        max-width: $layout-width;
        margin: 0 auto;
        padding: 10px 0px;
        background-image: url("/static/Farmhouse-48-1.jpg");
        background-size: 100%;
    }

    &Background {
        background-color: rgba(85, 73, 65, 0.7);
        padding: 100px 0px;
    }

    .title {
        text-align: center;
        font-size: $header-height / 1.2;
        line-height: 1.2;
        text-transform: uppercase;
        &Link {
            text-decoration: none;
            color: #fff;
        }
    }

    .subTitle {
        text-align: center;
        font-size: $header-height / 2.5;
        line-height: 1.2;
        font-style: italic;
    }

    .pickBtn {
        padding: 3px 30px;
        background-color: rgba(255, 255, 255, 0.75);
        border: none;
        border-radius: 10px;
        font-size: $header-height / 2.5;
        text-transform: uppercase;
        text-decoration: none;
    }
    
    .nav {
        flex: none;
        margin-left: auto;

        &List {
            display: block;
            font-size: $header-height / 1.5;
            line-height: 1.5;
        }

        &Item {
            display: inline-block;
            margin: 0 5px;
        }

        &Link {
            opacity: 0.8;
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
            color: #fff;

            &.active {
               opacity: 1; 
            }
        }
    }
}
.content {
    max-width: $layout-width;
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
}