@charset "utf-8";

.pageTitle {
    padding-top: 20px;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
}

.food {
    margin-top: 20px;
    border-top: 1px solid #ccc;

    &Table {
        width: 100%;
        border: none;
        border-spacing: 0;
        table-layout: fixed;
        font-size: 14px;
        line-height: 1.5;

        &Title {
            padding: 5px 0;
            border-bottom: 1px solid #ccc;
        }

        &Content {
            padding: 2px 0;
            border-bottom: 1px solid #ddd;
        }

        .tag {
            display: inline-block;
            margin: 0 3px;
            padding: 0 3px;
            border-radius: 2px;
            background: #ddd;
        }
    }
}

.blockArea {
    text-align: center;
    display: inline-block;
    width: 80%;
    padding: 20px 0px;
}

.pickBlock {
    display: block;
    width: 100%;
    border: none;
    border-radius: 15px;
    background-color: rgba(150, 150, 150, 0.3);
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 0px;
    margin: 10px 0px;
}

.roundBlock {
    display: Block;
    border: none;
    border-radius: 15px;
    background-color: rgba(200, 200, 200, 0.3);
    padding: 15px;
    margin: 10px 0px;

    .foodTag {
        padding: 4px 6px;
        margin: 0px 3px;
        border: none;
        background-color: rgb(100, 95, 92);
        color: #fff;
        font-size: 12px;
    }

    &Head {
        display: flex;

        .roundBlockTitle {
            display: flex;
            width: 30%;
            font-size: 20px;
        }

        .roundBlockTagArea {
            text-align: left;
            width: 70%;
        }
    }

    &Content {
        text-align: left;
    }

    hr {
        border-top: 1px solid rgb(200, 200, 200);
    }
}